// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
@import "kyani-nav/kyani-nav";
@import "kyani-news/single/kyani-single-post.scss";

body {
  background-color: #f8f8f8;
}
